.onhover.hoverButton {
  background-color: yellow;
}

.inverted-hover:hover {
  filter: invert(1); /* Invert colors on hover */
}

.footer {
  height: 1000px;
  color: white;
  background-color: #697565;
}
